.button {
    border: map-get($button, border1 );
    padding: map-get($button, padding1 );
    border-radius: map-get($button, border-radius1 );
}
.button-primary{
    @extend .button;
    @include pPrincipales  (rgb(182, 75, 9),false, 100px, auto);
    border-radius: 5px;
    &:hover{background-color: $colorHover;
}}
