.tarjetas{
    background-color: $colorFondo;
    .obras_img{
        background-color: rgba(80, 78, 78, 0.813);
        border-radius: 15px;
        
        .lead{color:$colorprimario;
            font-size:20px;
            
        
        }
    }

}